
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none; 
}
/* header */
.header{
    padding: 17px 0;
    font-family: Lato;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}

.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    display: flex;
}
.header__link{
    color:#292929;
    font-size: 20px;
    font-weight: 500;
}
.header__item{
    margin-right: 30px;
}
.btn{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    background-color: #01996D;
    padding: 13px 72px;
    border-radius: 4px;
    border: none;
}
.btn_white{
    color:black;
    background-color: #fff;
}
.main{
    background: url(../assets/BG.png) no-repeat center center / cover;
    height: 90vh;
}
.main__info{
    max-width: 440px;
    display: flex;
    flex-direction: column;
}
.main__title{
    color: #01996D;
    font-weight: 900;
    font-size: 65px;
    margin-top: 175px;
    margin-bottom: 10px;
}
.main__text{
    color: #484848;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 55px;
}
.steps{
    padding: 169px 0 255px 0;
}
.steps__subtitle{
    color: #424242;
    font-size:24px ;
    font-weight: 700;
}
.steps__title{
    color: #01996D;
    font-weight: 900;
    font-size: 50px;
    max-width: 584px ;
}
.steps__text{
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    max-width: 670px;
    margin-bottom: 60px;
}
.steps__block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 190px;
}
.steps__card-title{
    color: black;
    font-weight: 900;
    font-size:30px ;
    margin-bottom: 55px;
}
.steps__card{
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.steps__row{
    display: flex;
    justify-content: space-between;
}
.steps__pic img{
    border-radius: 12px;
}
.vid{
    background:#245852;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.rectangle{
    background-color:#245852;
    width: 1920px;
    height: 922px;
    position: relative;
}
.vid__info{
    position: absolute;

    margin-right: 800px;
}


.title__vid{
    color:#fff;
    max-width: 580px;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 33px;
    margin-top: 300px;
}
.text__vid{
    color:#fff;
    max-width: 580px;
    font-weight: 550;
    font-size: 25px;
    margin-bottom: 57px;
    min-width: 600px;

}
.vid__btn{
    max-width: 300px;

}
.vid__vid{
    height: 516px;
    margin-left: 850px;
    margin-top: 210px;
    position: absolute;
}
.vidcontainer{
    display: flex;
    justify-content:center;
    position: absolute;
}
.slide4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alltext{
    max-width: 540px;
    display: flex;
    flex-direction: column;
}

.fullpict{
    margin-right: 86px;
    margin-bottom: 168px;
}
.girl{
    width: 638px;
    margin-top: 120px;
    margin-left: 225px;
    position: relative;
}
.girlcard{
    width: 293px;
    margin-top: 460px;
    margin-left: -680px;
    position: absolute;
}

.ourproduct{
    color: #424242;
    font-weight: 136;
    font-size: 25px;
    margin-bottom: 10px;

}
.titlelast{
    color:#01996D;
    max-width: 584px;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 20px;
}
.textlast{
    color: #484848;
    font-size: 20px;
    font-weight: 500;
    max-width: 500px;
    margin-bottom: 40px;
}
 .lastslide{
    background-color: #245852;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 .bglast{
    height: 654px;
 }
 .last__text{
    display: flex;
    display: flex;
    flex-direction: column;
    margin-right: 1526px;
    position: absolute;
 }

.Alivio{
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    
}
.last__link{
    display: flex;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    margin-top: 60px;
}

